{% extends 'main_app/base.html' %}

{% block content %}
<h2>{{ watchitem.title }}</h2>
<p><strong>Type:</strong> {{ watchitem.item_type }}</p>
<p><strong>Release Date:</strong> {{ watchitem.release_date }}</p>
<p><strong>Description:</strong> {{ watchitem.description }}</p>

<a href="{% url 'watchitem_update' watchitem.pk %}">Edit</a>
<a href="{% url 'watchitem_delete' watchitem.pk %}">Delete</a>

{% if watchitem.reviews.all %}
<h3>Reviews</h3>
<ul>
    {% for review in watchitem.reviews.all %}
    <li>{{ review.rating }}/10 - {{ review.comment }}</li>
    {$ endfor %}
    <ul>
{% endif %}
{% endblock %}

